src/main/resources/soma.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:8080/SomaWS"
           targetNamespace="http://localhost:8080/SomaWS" elementFormDefault="qualified">

    <xs:element name="getSomaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="op1" type="xs:int"/>
                <xs:element name="op2" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getSomaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>